#empresabtn{
    background-image: url('../img/estudio2.jpg');
}

#tiendabtn{
    background-image: url('../img/tienda2.jpg');
}

.cover{
    background-size: 100% 100%;
    height: 100vh;
}

div.d-flex > button.br{
    margin-bottom: 20%;
    border-radius: 20px;
    font-size: small;
}
